*{
margin: 0;   
 padding:0; 
box-sizing: border-box;
font-family: 'poppins',sans-serif;
}
body, html {
  padding-top: 30px;
    height: 100%;
    margin: 0;
    background: linear-gradient(150deg, #f5c1dc,#ef8fd2) ;
    /*display: flex;
    justify-content: center;
    align-items: center;*/
  }
 /* body{
    display: flex;
    justify-content: center;
    align-items: center;
  }*/
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 70px;
    background: #f32772;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    z-index: 100;
  }
  .navbar {
    height: 100%;
    max-width: 1250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 0 50px;
  }
  
  #logo{
    font-size: 18px;
    color: rgb(252, 252, 252);
    text-decoration: none;
    font-weight: 600;
    background-color: rgba(207, 54, 221, 0.051);
    right: 80px;
    margin-left: 45%;
  }
  .header{
    text-align: left;
    margin: 20px 0;
  }
  .header h1{
    font-size: 2em;
    color: #ece0f6;
    margin-bottom: 20px;
    margin-left: 0.9%;
  }
  .grp1{
    display: flex;
    flex-wrap: wrap;
    margin: 0 ;
    justify-content: space-between;
    max-width: 1200px;
    margin-left: 23%;
    margin-top: 4%;
    

  }
  .grp2{
    display: flex;
    flex-wrap: wrap;
    margin: 0 ;
    justify-content: space-between;
    max-width: 1200px;
    margin-top: 4%;
    margin-left: 23%;
  }
  .img-grp{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px;
    /*flex-basis: calc(33.333% - 16px);*/
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
   /* border: 2px solid;*/
  }
  .img-grp:hover{
    backdrop-filter: blur(40px);
    transition: 1s;
  }
  .img-grp img{
    width: 100%;
    height: auto;
  }
  .img-grp p{
    padding: 15px;
    text-align: center; 
  }
  .add-btn-cheese{
    background-color: #04040424; /* Couleur de fond */
    color: white; /* Couleur du texte */
    padding: 10px 24px; /* Padding autour du texte */
    margin: 10px 0; /* Marge au-dessus et en dessous du bouton */
    border: none; /* Aucune bordure */
    cursor: pointer; /* Curseur pointeur */
    transition: background-color 0.3s;  
  }
  .add-btn-cheese:hover{
    background-color: rgba(255, 0, 247, 0.17);
  }
  @media screen and (max-width: 600px) {
    .image-card {
        flex-basis: calc(50% - 16px);
    }
}
